<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Javascript Search API</title>
    <script src="{{ url_for('static', filename='jquery.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='jquery.browser.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='jquery.ba-bbq.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='search.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='test.js') }}" charset="utf-8"></script>
  </head>
  <body>
    <input type="text" name="search" />
  </body>
</html>
